<ion-header>
  <ion-toolbar>
    <ion-title>
      Recetario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table>
    <tr aria-colspan="3" style="width: 100%">
      <td></td>
      <td></td>
    <td  aria-colspan="3" style="width: 30%"><ion-button shape="round" style="align-content: right;" (click)="createReceta()">Crear</ion-button></td>
  </tr>
<tr>
  <td><input class="search-box" style="border-radius: 20px;" type="text" placeholder="Search..." ng-model="gridFilterValue" ng-change="" /></td>
</tr>
  <tr>
  <td>Lista de recetas </td>
</tr> 
  <tr>
    <td>
  <ion-grid>
      <ion-row  *ngFor="let row of this._recetaService._recetas; let i = index"> 
        <ion-col>                             
        <span  style="color: blue"  (click)="launchNext(i)"><u>{{row.nombre}}</u></span>         
      </ion-col>
      </ion-row>
    </ion-grid>
  </td>
  </tr>
  </table>
</ion-content>
